<div class="rate-example">
  <p>
    <span class="rate-example__value">1</span>
    <span class="rate-example__currency">{{ baseCurrency }}</span>
    equals to
    <span class="rate-example__value">{{ convertRate.value }}</span>
    <span class="rate-example__currency">{{ convertRate.name }}</span>
  </p>
  <p>
    <span class="rate-example__value">1</span>
    <span class="rate-example__currency">{{ convertRate.name }}</span>
    equals to
    <span class="rate-example__value">{{ reverseRate }}</span>
    <span class="rate-example__currency">{{ baseCurrency }}</span>
  </p>
</div>
